.message {
    display: flex;
    justify-content: flex-end;

}

.imageAndText {

}

.imageAndText img {
height: 40px;
}

.text {

}

.text:after {

}

.name {
    color: red;

}

.messageText {
width: 300px;
}

.time {

}