.message {
    display: flex;
    justify-content: flex-end;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.imageAndText img {
    height: 40px;
}

.text {

}

.text:after {

}

.name {
    color: red;

}

.messageText {
    width: 30px;
}

.time {

}