.buttonsContainer {
    margin-bottom: 25px;
    margin-top: 15px;
}

.responseContainer {
    display: flex;
}

.imageContainer {
    margin-top: 40px;
    min-height: 200px;
}

.image {
}

.textContainer{
    margin-left: 50px;
    margin-top: 150px;
    width: 500px; /* Set the desired width */
}

.code {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text {

}
.info {
}