.buttonsContainer {
    margin-bottom: 25px;
    margin-top: 15px;
}

.responseContainer {
}

.imageContainer {
    min-height: 300px;
}

.image {
    max-height: 300px;
}

.textContainer{
    min-width: 200px;

}

.code {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text {

}
.info {
}