.sidebar {
    display: flex;
    border: 1px solid;
    width: 100%;
}

.sidebar.open {
}

.background {
}

.nav {
    color: green;

}

.nav a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.nav a:hover {
    color: #66d1ff;
}

.nav a.active {

    background-color: red;
}
.close {
    display: none;
}

.close img {

}
