.sidebar {
    display: flex;
    border: 1px solid;
    width: 100%;
}

.sidebar.open {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 30%;
    height: 100vh;
}

.background {
    /*background-color: rgba(0, 0, 0, 0.44);*/
    /*width: 70%;*/
    /*height: 100vh;*/
    /*opacity: 0.5;*/
}

.nav {
    color: green;

}

.nav a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.nav a:hover {
    color: #66d1ff;
}

.nav a.active {

    background-color: red;
}
.close {
    display: none;
}

.close img {

}
