.buttonsContainer {
    margin-top: 20px;

}

.clock {
    margin-top: 20px;
    margin-left: 40px;

}

.watch {
}

.watch strong {
}

.more {
    font-size: 15px;
    margin-left: 40px;
    opacity: 50%;

}