.item {
}

.item:last-of-type {
}

.users {
    min-width: 400px;
    font-size: 25px;
}


.thead {
    background-color: #bdbdbd;
    color: #de0606;
}

.nameCol {

}
.ageCol {
}
tbody {
    background-color: #f1f1f1;
    line-height: 50px;

}
