.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 30px;
}

.error {
    color: #cc0000;
}

.input {
}

.input:focus {
}

.errorInput {


}

.button {
    width: 80px;
    background: #0066CC;

    color: white;
    border-radius: 5px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 50%;
}

.text {
}

.greeting {
}
